<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>country page</title>
</head>
<body>
    {%if res%}
    <table border=2>
    <tr><th>CITY ID</th><th> CITY NAME</th><th>CITY DESC</th><th>CITY IMG</th></tr>
    {%for i in res%}
    <tr><td>{{i.cityid}}</td><td>{{i.ciname}}</td>
    <td>{{i.desc}}</td><td> <a href="{%url 'tour:citygallaryselect' pk=i.cityid%}">
        <button> <img src="{{i.cimg.url}}" weight=250 height=200 ></button>
    </a></td></tr>
    {%endfor%}
    </table>
    {%else%}
    <h2>no data is found</h2>
    {%endif%}S
</body>
</html>