<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if res and res1 %}
    {{res1}}
    <h1>  {{res1.citydesc}}</h1>
        <h1><a href={{res1.citywikipedia}} > City Wikipedia</a> </h1>
            <h1> <a href={{res1.cityyoutube}}> City Youtube</a></h1>
    <table border=2>
    {%for i in res%}
     <img src="{{i.gimg.url}}" weight=250 height=200 >
    {%endfor%}
    </table>

    {%else%}
    <h2>no data is found</h2>
    {%endif%}
</body>
</html>