<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>country page</title>
</head>
<body>
    {%if res%}
    <table border=2>
    <tr><th>COUNTRY ID</th><th> COUNTRY NAME</th><th>COUNTRY IMG</th></tr>
    {%for i in res%}
    <tr><td>{{i.couid}}</td><td>{{i.cname}}</td>
    <td>
    <a href="{%url 'tour:selectstate' pk=i.couid %}">
        <button> <img src="{{i.cimg.url}}" weight=250 height=200 ></button>
    </a></td></tr>
    {%endfor%}
    </table>

    {%else%}
    <h2>no data is found</h2>
    {%endif%}
</body>
</html>